@using SharpSystem.Domain.DTO.UsuarioDTO;
@model UsuarioDTO;

<div class="text-light">
    <h1>Criar</h1>
    <h4>Adicionar um novo paciente ao prontuário</h4>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="text-light">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label">Nome</label>
                <input asp-for="nome" class="form-control" required />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="cpfcnpj" class="control-label">CNPJ</label>
                <input asp-for="cpfcnpj" class="form-control" required />
                <span asp-validation-for="cpfcnpj" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="senha" class="control-label">E-mail</label>
                <input asp-for="senha" class="form-control" type="text" required />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
