@model SharpSystem.Domain.DTO.UsuarioDTO.UsuarioDTO

@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div>
    <h1> Sharp System</h1>
    <p> Organize e crie sua NFS-e de <br> forma rápida e intuitiva.</p>
</div>
<<div class="layout_right">
    <img src="/img/logo-sharp-system.png" alt="">
    <form asp-action="Create" method="Post">
        <label for="cpfcnpj">CNPJ</label><br />
        <div class="input-field">
            <input type="text" asp-for="cpfcnpj" class="input" riqured /><br />
            <i class='bx bx-lock-alt'></i>
        </div>

        <label for="senha">Senha</label><br />
        <input type="password" asp-for="senha" class="input" riqured />
        <div class="button">
            <a class="btn-cadastrar" asp-controller="Home" asp-action="Create">Cadastro</a>
            <a class="btn-login" asp-controller="Home" asp-action="Index">Login</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
