@model SharpSystem.Domain.DTO.NFSDTO.NFSEDTO
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/nfesCreate.css" asp-append-version="true" />
<html>
<body>
    <div class="main">
        <section class="card-menu">
            <img src="/img/logo-sharp-system.png" alt="">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/logout-icon.png" style="width:30px; margin-bottom:50px; " alt=""></a>
        </section>
        <div class="profile">
            <button>
                <a  asp-controller="NFSE" asp-action="Index">Inicio</a>
                </button>
            <div class="info">
                <h3>Benagal Eletronica</h3>
                <p>213.321/000-12</p>
            </div>
            <img src="/img/user-icon.png" style="width:50px; height:60px; margin-bottom:100px " alt="user-icon">
        </div>
        <form id="regForm" asp-action="Create">

            <div class="tab">
                Prestador:
                <p><input asp-for="prestador.cidade" placeholder="Cidade" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="prestador.cpfCnpj" placeholder="CNPJ" oninput="this.className = ''" class="form-control" required /></p>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Continuar</button>
            </div>
            <div class="tab">
                Tomador
                <p> <input asp-for="tomador.tipo" placeholder="Tipo" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.cpfCnpj" placeholder="CNPJ/CPF" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.nomeRazaoSocial" placeholder="Nome Fantasia" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.cep" placeholder="CEP" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.logradouro" placeholder="Logradouro" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.email" placeholder="Email" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.numeroResidencia" placeholder="Numero Residencial" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.bairro" placeholder="Bairro" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="tomador.cidade" placeholder="Cidade" oninput="this.className = ''" class="form-control" required /></p>
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Voltar</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Continuar</button>
            </div>
            <div class="tab">
                Itens:
                <p><input asp-for="itens.listaDTO.tributaMunicipioPrestador" placeholder="Municipio Prestador" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="itens.listaDTO.codigoLocalPrestacaoServico" placeholder="Serviço" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="itens.listaDTO.codigoItemListaServico" placeholder="Serviço" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="itens.listaDTO.descritivo" placeholder="Descrição" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="itens.listaDTO.aliquotaItemListaServico" placeholder="Aliquota" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="itens.listaDTO.situacaoTributaria" placeholder="Situação Tributária" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="itens.listaDTO.valorTributavel" placeholder="Valor Tributavel" oninput="this.className = ''" class="form-control" required /></p>
                <p><input asp-for="notaFiscalDTO.valorTotal" placeholder="Valor Total" oninput="this.className = ''" class="form-control" required /></p>
                <div class="form-group">
                    <button id="prevBtn" type="submit" value="Create" asp-action="Create" class="btn btn-primary" />
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Voltar</button>
                </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
@{
    @section Scripts {
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

